/vendor/
node_modules/
npm-debug.log
yarn-error.log
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/laravel-project/nbproject/private/

.phpintel/
/.phpintel/
